/* CONFIGURAÇÕES GERAIS */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #E5E5E5;
    font-family: 'Roboto', sans-serif;
}

/* TELA DE LOGIN */

.login {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
    background-color: #FFFFFF;
}

.logo {
    margin: 72px calc((100% - 130px)/2) 50px;
}

.login input {
    width: 261px;
    height: 54px;
    margin: 44px calc((100% - 261px)/2) 15px;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}

.login input::placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 25px;
    color: #AEAEAE;
}

.login input:focus {
    outline: none;
}

.login button {
    font-size: 18px;
    line-height: 25px;
    background-color: #E7E7E7;
    color: #696969;
    border: none;
    border-radius: 9px;
    width: 109px;
    height: 45px;
    margin: 0 calc((100% - 109px)/2);
}

.loading {
    margin: 0 calc((100% - 150px)/2) 15px;
}

.status-box {
    margin: 35px calc((100% - 261px)/2) 0;
    text-align: center;
}

.enter-box {
    margin: 35px calc((100% - 76.56px)/2) 0;
    text-align: center;
    font-size: 18px;
}

.hidden {
    display: none;
    height: 0px;
    width: 0px;
}

/* BARRA SUPERIOR */

header {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    top: 0;
    left: 0;
    padding: 0 22px;
}

header img {
    width: 75px;
    height: 53px;
}

header ion-icon {
    width: 45px;
    height: 45px;
}

.fixed-boxes {
    background-color: #FFFFFF;
    width: 100%;
    height: 80px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* CONTAINER DE MENSAGENS */

main {
    margin: 102px 0 92px;
    font-size: 14px;
    line-height: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

main::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
}

main .timestamp {
    color: #AAAAAA;
}

/* CONFIGURAÇÕES DOS TIPOS DE MENSAGENS */

.message {
    width: 100%;
    margin: 4px 0;
    background-color: #FFFFFF;
    padding: 12px 9px 12px 8px;
    line-break: anywhere;
}

.status {
    margin: 4px 0;
    background-color: #DCDCDC;
}

.status .actor {
    margin-right: 4px;
}

.private_message {
    margin: 4px 0;
    background-color: #FFDEDE;
}

.actor, 
.receiver {
    font-weight: 700;
}

/* BARRA INFERIOR COM INPUT E BOTÃO DE ENVIO */

.insert-text {
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    padding: 0 17px;
    bottom: 0;
    left: 0;
}

.insert-text input {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 21.09px;
    color: #000000;
    border: none;
    height: 30px;
    width: calc(100% - 77px);
}

.insert-text input::placeholder {
    font-style: italic;
    color: #000000;
}

.insert-text input:focus {
    outline: none;
}

.insert-text button {
    background-color: transparent;
    border: none;
    display: flex;
    padding-top: 3px;
}

.insert-text ion-icon {
    width: 26px;
    height: 26px;
}